<h1>Your Order was Confirmed</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user.name if @order.user %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |item| %>
  <tr>
    <td><%= item.product.title %></td>
    <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
    <td><%= print_stock(item.product.stock, item.quantity) %></td>
    <td><%= number_to_currency item.product.price %></td>
    <td><%= number_to_currency item.subtotal %></td>
    <td><%= image_tag "products/#{item.product.image_url}" %></td>
  </tr>
  <% end %>


</table>
<p>Order Total: <%= number_to_currency @order.total %></p>

