<h1>Your Order</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |item| %>
  <tr>
    <td><%= item.product.title %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency item.product.price %></td>
    <td><%= number_to_currency item.subtotal %></td>
    <td><<%= image_tag "products/#{item.product.image_url}" %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

    <% end %>
</table>

<p>Order Total: <%= number_to_currency @order.total %></p>